
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');

/*UTILIDADES*/
$primary-font: 'Oswald', sans-serif;

$black-theme: #052039;

$white-theme: #fff; 

$yellow-theme: #eab862;

$gray-theme: #eeeeee;

$light-gray-theme: #9d9d9d;

$dark-gray-theme: #737272; 

$green-theme: #85b51f;

$gig-size: 38px;

$lg-size: 30px;

$md-size: 22px;

$int-size: 20px;

$sm-size: 18px;

$xs-size: 16px;

$xxs-size: 14px;

$xxxs-size: 12px;

$fw-gig: 800;

$fw-lg: 700;

$fw-md: 600;

$fw-sm: 500;

@mixin flex-principal{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}


body{
    padding:0;
    margin: 0;
    border-top: 2px solid $yellow-theme;
    font-family: $primary-font;
}

html{
    overflow-x: hidden;
}

img{
    max-width: 100%; 
}
  
.flex-content {
    @include flex-principal;
}

.wrap-content{
    max-width: 1200px;
    margin: 0 auto;
}

/*MENU PRINCIPAL*/
.menu-bar{
    @include flex-principal;
    height: 130px; 
}

.menu-bar--links{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none; 
    & li{
        margin-left: 4em
    }
    & li:before{
        display: block;
        width: 15px;
        height: 15px;
        background-color: $dark-gray-theme;
    }
    & li a{
        text-decoration: none;
        color: $black-theme;
        font-size: $xxs-size;
    }
}

/*BANNER PRINCIPAL*/
.banner-wrapper {
    min-height: 570px;
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    position: relative;
    & .banner-wrapper--content{
        position: absolute;
        bottom: 4em;
        & h3{
            color: $white-theme;
            font-size: $int-size;
            margin: 0;
            font-weight: $fw-sm;
        }
    }
    & .banner-wrapper--call{
        @include flex-principal;
        & h2{
            font-size: $gig-size;
            line-height: $gig-size;
            color: $yellow-theme; 
            margin: 0px 2em 0px 0px;
        }
        & span{
            color: $white-theme;
            margin-right: 3em;
        }

    }
} 

/*CONTEUDO*/
.content-wrapper{
    background-color: $gray-theme;
    padding-top: 8em;
    padding-bottom: 8em;
}
 

.content-wrapper-info{ 
    width: 53%;
    margin-left: 45px;
    & *{        
        padding-left: $lg-size; 
    }
    & h1{
        font-weight: $fw-sm;
        font-size: $lg-size;
        color: $black-theme;
        line-height: $lg-size;
        border-left: 2px solid $black-theme;
        text-transform: uppercase;
    }
    & p{
        font-size: $md-size;
        text-align: justify;
        color: $dark-gray-theme;
    }
    & button{
        width: 275px;
        background: none;
        border-radius: 5px;
        padding: 10px 6px;
        cursor: pointer;
        float: right;
        font-family: $primary-font;
        border: 2px solid $green-theme;
        color: $green-theme;
        font-size: $xs-size;
    }
}

/*FOOTER*/

footer {
    @include flex-principal;
    align-items: baseline;
    flex-wrap: wrap;
    padding-top: 3em;
    padding-bottom: 3em;
    & b{
        font-size: $sm-size;
        padding-bottom: 1em;
        display: table;
    }
    & p{
        font-size: $xs-size;
        color: $light-gray-theme; 
        margin: 0;
    }
    & h4{
        font-size: $sm-size;
    }
    & .footer-right h4{
        color: $yellow-theme;
    }
    & span{
        font-size: $xxxs-size;
        color: $light-gray-theme;
        width: 100%;
        margin-top: 5em;
    }
    & form{
        padding-top: 1em;
        & label{
            width: 100%;
            display: table;
        }
    }
}

/*RESPONSIVO*/
@media screen and (max-width: 1024px){
    .menu-bar, .flex-content, .banner-wrapper--call{
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner-wrapper{
        padding: 1em;
        & .banner-wrapper--call{
            justify-content: flex-start;
            & h2, & span{
                margin: 0;
                padding-right: 1em;
            }
        }
    }
     .content-wrapper-info{
         width: 100% ;
         margin: 0 ;
         padding: 1em; 
         & p{
            padding: 0
         }
         & button{
            float: left;
         }
    } 
    footer{
        padding: 2em;
    }
    .menu-bar--links{
        & li{
            margin-left: 10px;
        }
    }
}